@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{ var welcomeMessage = "Welcome"; if(User.Identity.IsAuthenticated) { welcomeMessage += " " + User.Identity.Name; }}
    <h1 class="display-4">@welcomeMessage</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<style>
    .part-button {
        border: 2px solid black;
        background-color: #52A7D3;
        color: #000000;
    }
    .part-button.active {
        border: 3px solid grey;
        background-color: grey;
        color: #FFF;
    }
    .sentence-word {
        /* default */
    }
    .sentence-word.active {
        background-color: grey;
    }
    .diagram {
        /* div */
        height: 1000px;
        width: 100%;
        border: 2px solid black;
        background-color: grey;
        overflow: hidden;
        position: relative;
    }
    /*.diagram-clause-table*/ 
    .diagram-clause {
        /* table */
        height: 0;
        position: relative;
        /*position: absolute;*/
    }
    .diagram-part {
        /* td */
        position: relative;
        /*position: absolute;*/
        height: 0;
    }
    .diagram-part-diagonal {
        /* default */
    }
    .diagram-part-line {
        /* div */
        transform-origin: 0 0;
        height: 3px; /* Line width of 3 */
        width: 3px;
        background: #000; /* Black fill */
        position: absolute;
        margin: 0;
        border: 0;
    }
    .diagram-word {
        /* default */
    }
    .diagram-word.active {
        background-color: white;
    }
</style>

<div id='diagram-container'>
    <div id='parts'>
    </div>
    <div id='sentence'>
    </div>
    <div id='diagram' class='diagram' tabindex='0'>
    </div>
</div>


@section scripts
{
    <script>
        function angleRotate(p, angle, anchor)
        {
            var values = angle.match(/[\d]+/g);
            var _sin = Math.sin(values[0] * Math.PI / 180);
            var _cos = Math.cos(values[0] * Math.PI / 180);
            var r = {
                x: (_cos * (p.x - anchor.x)) + (-_sin * (p.y - anchor.y)) + anchor.x,
                y: (_sin * (p.x - anchor.x)) + (_cos * (p.y - anchor.y)) + anchor.y
            };
            return r;
        }
        function matrixRotate(p, matrix, anchor)
        {
            // [cos(a), sin(a), -sin(a), cos(a), 0, 0]
            var values = matrix.match(/[\-\d\.]+/g);
            var r = {
                x: (values[0] * (p.x - anchor.x)) + (values[2] * (p.y - anchor.y)) + anchor.x,
                y: (values[1] * (p.x - anchor.x)) + (values[3] * (p.y - anchor.y)) + anchor.y
                };
            return r;
        }
        function transformRotate(p, transform, anchor)
        {
            if (transform.search('matrix') >= 0)
            {
                return matrixRotate(p, transform, anchor);
            }
            else if (transform.search('rotate') >= 0)
            {
                return angleRotate(p, transform, anchor);
            }
            else
            {
                alert("not a valid transform rotate " + transform);
            }
        }
        jQuery.fn.updateCounter = function(counter)
        {
            diagramElementCounter = counter;
            return this;
        }
        function distanceToPoint(v, w)
        {
            return Math.sqrt(Math.pow(v.x - w.x, 2) + Math.pow(v.y - w.y, 2));
        }
        function distanceToLineSegment(p, v, w)
        {
            var l2 = distanceToPoint(v, w);
            if (l2 == 0) return distanceToPoint(p, v);
            var t = ((p.x - v.x) * (w.x - v.x) + (p.y - v.y) * (w.y - v.y)) / Math.pow(l2, 2);
            t = Math.max(0, Math.min(1, t));
            return distanceToPoint(p, {x: v.x + t * (w.x - v.x), y: v.y + t * (w.y - v.y)});
        }
        jQuery.fn.closestToOffset = function(offset) {
            var closestElement = null,
                elementOffset,
                x = offset.left,
                y = offset.top,
                p1, p2, p3, p4,
                centerX, centerY,
                distanceX, distanceY,
                distance, minDistance;
            console.log("closestToOffset: x=" + x + ", y=" + y);
            this.each(function() {
                var currentElement = $(this);
                elementOffset = currentElement.offset();
                p1 = { x: elementOffset.left, y: elementOffset.top };
                p2 = { x: elementOffset.left + currentElement.width(), y: p1.y };
                p3 = { x: p1.x, y: elementOffset.top + currentElement.height() };
                p4 = { x: p2.x, y: p3.y };
                var transform = currentElement.css('transform');
                if (transform && transform.search('none') < 0)
                {
                    p2 = transformRotate(p2, transform, p1);
                    p4 = transformRotate(p4, transform, p3);
                }
                else
                {
                    if (x >= p1.x &&
                        x <= p2.x &&
                        y >= p1.y &&
                        y <= p2.y)
                    {
                        closestElement = currentElement;
                        console.log("closestToOffset: offset is within element " + currentElement.attr('id'));
                        return false;
                    }
                }
                console.log("closestToOffset: currentElement="+currentElement.attr('id')+", x1="+p1.x+", y1="+p1.y+", x2="+p2.x+", y2="+p2.y+", x3="+p3.x+", y3="+p3.y+", x4="+p4.x+", y4="+p4.y);
                var distance = distanceToLineSegment({x: x, y: y}, p1, p2);
                console.log("closestToOffset: centerX="+centerX+", centerY="+centerY+", distance="+distance);
                if (minDistance === undefined || distance < minDistance)
                {
                    minDistance = distance;
                    closestElement = currentElement;
                    console.log("closestToOffset: offset is close to element=" + currentElement.attr('id') + ", distance=" + distance);
                }
            });
            return closestElement;
        };
        // TODO - getPartsText() - turn this into 's', 'v', etc, 'conj-s', 'conj-v', etc
        jQuery.fn.drawPart = function(parts)
        {
            switch(parts.text())
            {
                case 's':
                    // on hortzontal before vertical bisect
                    //this.css({'min-width': 50});
                    $('<div />')
                        .addClass('diagram-part-line')
                        .width('100%')
                        .attr('id', 'diagram-part-s-horizontal')
                        .addClass('diagram-part-horizontal')
                        .addClass('diagram-part-target')
                        .addClass('diagram-part-word-target')
                        .appendTo(this);
                    break;
                case 'v':
                    // on horizontal after vertical bisect
                    //this.css({'min-width': 50});
                    $('<div />')
                        .addClass('diagram-part-line')
                        .width('100%')
                        .attr('id', 'diagram-part-'+parts.text()+'-horizontal')
                        .addClass('diagram-part-horizontal')
                        .addClass('diagram-part-target')
                        .addClass('diagram-part-word-target')
                        .appendTo(this);
                    $('<div />')
                        .addClass('diagram-part-line')
                        .css({'transform': 'rotate(90deg)'})
                        .width(25 + 3)
                        .offset({left: 0, top: -20})
                        .attr('id', 'diagram-part-'+parts.text()+'-vertical')
                        .addClass('diagram-part-vertical')
                        .appendTo(this);
                    break;
                case 'do':
                    // on horizontal after vertical stop
                    //this.css({'min-width': 50});
                    $('<div />')
                        .addClass('diagram-part-line')
                        .width('100%')
                        .attr('id', 'diagram-part-do-horizontal')
                        .addClass('diagram-part-horizontal')
                        .addClass('diagram-part-target')
                        .addClass('diagram-part-word-target')
                        .appendTo(this);
                    $('<div />')
                        .addClass('diagram-part-line')
                        .css({'transform': 'rotate(90deg)'})
                        .width(20 + 3)
                        .offset({left: 0, top: -20})
                        .attr('id', 'diagram-part-do-vertical')
                        .addClass('diagram-part-vertical')
                        .appendTo(this);
                    break;
                case 'pn':
                case 'pa':
                    // on horizontal after slash
                    // TODO
                    break;
                case 'part':
                    // curved word on bent, slanted below word
                    // TODO
                    break;
                case 'adj':
                case 'adv':
                case 'art':
                case 'pos':
                    // on diagonal below word
                    //this.css({'min-width': 50});
                    $('<div />')
                        .addClass('diagram-part-line')
                        .css({'transform': 'rotate(60deg)'})
                        .width('100%')
                        .attr('id', 'diagram-part-'+parts.text()+'-diagonal')
                        .addClass('diagram-part-diagonal')
                        .addClass('diagram-part-target')
                        .addClass('diagram-part-word-target')
                        .appendTo(this);
                    break;
                case 'io':
                case 'prep':
                    // indirect object on horizontal at bottom of diagonal below word
                    // preposition on diagonal below word, object on horizontal at bottom of diagonal
                    //this.css({'min-width': 50});
                    var diagonal = $('<div />')
                        .addClass('diagram-part-line')
                        .css({'transform': 'rotate(60deg)'})
                        .width('100%')
                        .attr('id', 'diagram-part-'+parts.text()+'-diagonal')
                        .addClass('diagram-part-diagonal')
                        .addClass('diagram-part-target')
                        .addClass('diagram-part-word-target')
                        .appendTo(this);
                    //var diagonalOffset = diagonal.offset();
                    //var transform = diagonal.css('transform');
                    //var diagonalBottom = transformRotate({x:diagonalOffset.left + 50, y:diagonalOffset.top + diagonal.height()}, transform, {x: diagonalOffset.left, y:diagonalOffset.top});
                    $('<div />')
                        .addClass('diagram-part-line')
                        //.offset({left: diagonalBottom.x - 1, top: diagonalBottom.y - 1})
                        .width('100%')
                        .attr('id', 'diagram-part-'+parts.text()+'-horizontal')
                        .addClass('diagram-part-horizontal')
                        .addClass('diagram-part-target')
                        .addClass('diagram-part-word-target')
                        .appendTo(this);
                    break;
                /*case 'po':*/
                    // propositional object draw by proposition
                case 'conj':
                    // on broken line between words
                    // TODO
                    //break;
                case 'conj-s':
                case 'conj-v':
                case 'conj-do':
                case 'conj-pn':
                case 'conj-pa':
                    // TODO
                    //break;
                case 'conj-io':
                case 'conj-part':
                case 'conj-adj':
                case 'conj-adv':
                case 'conj-art':
                case 'conj-pos':
                case 'conj-prep':
                    // TODO
                    //break;
                case 'conj-app':
                case 'conj-ip':
                case 'conj-ger':
                case 'conj-exp':
                case 'conj-np':
                    // TODO
                    //break;
                case 'app':
                    // in parentheses to the right of word
                    // TODO
                    //break;
                case 'ip':
                    // on pedestal beginning with diagonal
                    // TODO
                    //break;
                case 'ger':
                    // on pedestal beginning with staircase OR on staircase (object of preposition)
                    // TODO
                    //break;
                case 'exp':
                    // on horizontal connected to modified word via broken
                    // TODO
                    //break;
                case 'np':
                    // on pedestal with horizontal (recurse) and broken line from explective to verb
                    // TODO
                    alert("cannot draw a "+parts.text()+", not implemented");
                    break;
            }
            return this;
        }
        function maxWidth(elements)
        {
            var max = 0;
            elements.each(function() {
                var width = $(this).getWidth();
                if (width > max)
                {
                    max = width;
                }
            });
            return max;
        }
        function totalWidth(elements)
        {
            var total = 0;
            elements.each(function() {
                var element = $(this);
                var children = element.children();
                if (children.length)
                {
                    total += totalWidth(children);
                }
                if (element.hasClass('diagram-part-line'))
                {
                    total += element.getWidth();
                }
            });
            console.log("totalWidth: " + total);
            return total;
        }
        jQuery.fn.getWidth = function()
        {
            elementOffset = this.offset();
            p1 = { x: elementOffset.left, y: elementOffset.top };
            p2 = { x: elementOffset.left + this.width(), y: p1.y };
            //console.log("getWidth: p1.x="+p1.x+", p1.y="+p1.y+", p2.x="+p2.x+", p2.y="+p2.y);
            var transform = this.css('transform');
            if (transform && transform.search('none') < 0)
            {
                p2 = transformRotate(p2, transform, p1);
            }
            console.log("getWidth: " + (p2.x - p1.x));
            return p2.x - p1.x;
        }
        jQuery.fn.wordWidth = function()
        {
            //var word = this.find('.diagram-word');
            var word = this.find('.diagram-word');
            if (word.length)
            {
                return word.width();
            }
            return 50;
        }
        jQuery.fn.modifiersWidth = function()
        {
            return totalWidth(this.children('.diagram-part'));
        }
        jQuery.fn.setWidth = function()
        {
            //console.log("setWidth: this = " + this.attr('id') + " " + this.attr('class'));
            if (this.hasClass('diagram-word'))
            {
                return this;
            }
            else if (this.hasClass('diagram-element-s') ||
                this.hasClass('diagram-element-v') ||
                this.hasClass('diagram-element-do') ||
                this.hasClass('diagram-element-pn') ||
                this.hasClass('diagram-element-pa') ||
                this.hasClass('diagram-element-adj') ||
                this.hasClass('diagram-element-adv') ||
                this.hasClass('diagram-element-art') ||
                this.hasClass('diagram-element-pos'))                
            {
                this.width(Math.max(this.wordWidth(), this.modifiersWidth()));
            }
            else if (this.hasClass('diagram-element-io') ||
                     this.hasClass('diagram-element-prep'))
            {
                var diagonal = this.children('.diagram-part-diagonal');
                diagonal.width(diagonal.wordWidth());
                var horizontal = this.children('.diagram-part-horizontal');
                horizontal.width(Math.max(horizontal.wordWidth(), horizontal.modifiersWidth()))
            }
            // TODO - conj, app, ip, ger, exp, np

            console.log("setWidth: this = " + this.attr('id') + ", width = " + this.width());
            return this;
        }
        jQuery.fn.setOffset = function()
        {
            //console.log("setOffset: this = " + this.attr('id') + " " + this.attr('class'));
            if (this.hasClass('diagram-word'))
            {
                return this;
            }
            // TODO - conj-s, conj-v, etc
            if (this.hasClass('diagram-element-s'))
            {
                console.log("setOffset: this = " + this.attr('id') + " nothing to do for subject");
                return this;
            }
            else if (this.hasClass('diagram-element-v'))
            {
                var subject = this.closest('.diagram-clause').children('.diagram-element-s');
                console.log("setOffset: this = " + this.attr('id') + " subject.width = " + subject.width());
                this.css({'left': subject.width()});
            }
            else if (this.hasClass('diagram-element-do'))
            {
                var subject = this.closest('.diagram-clause').children('.diagram-element-s');
                var verb = this.closest('.diagram-clause').children('.diagram-element-v');
                this.css({'left': subject.width() + verb.width()});
            }
            else if (this.hasClass('diagram-element-adj') ||
                     this.hasClass('diagram-element-adv') ||
                     this.hasClass('diagram-element-art') ||
                     this.hasClass('diagram-element-pos') ||
                     this.hasClass('diagram-element-io') ||
                     this.hasClass('diagram-element-prep'))
            {
                this.css({'left': totalWidth(this.prevAll('.diagram-part'))});
                // TODO - io, prep horizontal
                if (this.hasClass('diagram-element-io') ||
                    this.hasClass('diagram-element-prep'))
                {
                    var diagonal = this.children('.diagram-part-diagonal');
                    var horizontal = this.children('.diagram-part-horizontal');
                    var diagonalOffset = diagonal.offset();
                    var transform = diagonal.css('transform');
                    console.log("setOffset: io/prep - dx="+diagonalOffset.left+", dy="+diagonalOffset.top+"dw="+diagonal.width());
                    var diagonalBottom = transformRotate({x:diagonalOffset.left + diagonal.width(), y:diagonalOffset.top + diagonal.height()}, transform, {x: diagonalOffset.left, y:diagonalOffset.top});
                    horizontal.offset({left: diagonalBottom.x + 3, top: diagonalBottom.y - 3});
                }
            }
            // TODO - conj, app, ip, ger, exp, np
            
            console.log("setOffset: this = " + this.attr('id') + " left = " + this.offset().left);
            return this;
        }
        jQuery.fn.drawElement = function()
        {
            //console.log("drawElement: this = " + this.attr('id'));
            var children = this.children();
            if (children.length)
            {
                //console.log("drawElement: this = " + this.attr('id') + ", return children.drawElement()");
                children.each(function() { $(this).drawElement() });
            }
            console.log("drawElement: this = " + this.attr('id') + ", return this.setWidth().setOffset()");
            return this.setWidth().setOffset();
        }
        jQuery.fn.drawClause = function()
        {
            var clause = this.closest('.diagram-clause');
            if (!clause.length)
            {
                alert("something is very wrong... can't find diagram-clause")
                return;
            }
            clause.children().each(function() { $(this).drawElement(); });
            return this;
        }
        jQuery.fn.addPart = function(parts, event)
        {
            var container = this;
            var counter = diagramElementCounter + 1;
            // TODO - if this is a conj, then add another part to the conj
            switch (parts.text())
            {
                case 's':
                    // a subject requires a new clause
                    // TODO - conj-s
                    container = $('#diagram');
                    container = $('<div />')
                        .addClass('diagram-clause')
                        .offset({left: event.originalEvent.offsetX, top: event.originalEvent.offsetY})
                        .appendTo(container);
                    console.log("addpart: part=s container=" + container.attr('id'));
                    break;
                case 'v':
                case 'do':
                case 'pn':
                case 'pa':
                    // a verb, verb phrase, direct object, predicate nominative, or predicate adjective
                    // applies to an existing clause
                    container = container.closest('.diagram-clause');
                    if (!container.length)
                    {
                        alert("cannot add "+parts.text()+", clause required")
                        return;
                    }
                    switch (parts.text())
                    {
                        case 'v':
                            // there can only be a single verb or verb phrase
                            if (container.children('.diagram-element-v').length)
                            {
                                // TODO - conj-v - remove v and add conj-v
                                alert("cannot add a second "+parts.text()+" to the clause");
                                return;
                            }
                            // a verb or verb phrase requires an existing subject
                            if (!container.children('.diagram-element-s').length)
                            {
                                alert("cannot add a "+parts.text()+", subject required");
                                return;
                            }
                            break;
                        case 'do':
                        case 'pn':
                        case 'pa':
                            // TODO - conjunctions
                            // there can only be a single direct object, predicate nominative, or predicate adjective
                            if (container.children('.diagram-element-do, .diagram-element-pn, .diagram-element-pa').length)
                            {
                                alert("cannot add a second "+parts.text()+" to the clause");
                                return;
                            }
                            // a direct object, predicate nominative, or predicate adjective
                            // requires an existing verb or verb phrase
                            if (!container.children('.diagram-element-v').length)
                            {
                                alert("cannot add a "+parts.text()+", verb/verb-phrase required");
                                return;
                            }
                            break;
                    }
                    console.log("addPart: part="+parts.text()+" container="+container.attr('id'));
                    break;
                case 'io':
                    // an indirect object requries a verb or verb phrase
                    // TODO
                    alert("cannot add an indirect object, not implemente");
                    break;
                case 'conj':
                    // a conjunction applies to two or more existing parts
                    // TODO
                    alert("cannot add a conjunction, not implemented");
                    return;
                    break;
                /*case 'po':*/
                    // a propositional object is always created by adding the proposition
                case 'part':
                case 'adj':
                case 'adv':
                case 'art':
                case 'pos':
                case 'prep':
                case 'app':
                case 'ip':
                case 'ger':
                case 'exp':
                case 'np':
                default:
                    // an indirect object, participal, adjective, adverb, article, possessive, preposition, appositive, infinitive phrase, gerund, explective, or noun phrase
                    // requires an existing part
                    container = container.closest('.diagram-part');
                    if (!container.length)
                    {
                        alert("cannot add a "+parts.text()+", element required")
                        return;
                    }
                    console.log("addPart: part="+parts.text()+" container=" + container.attr('id'));
                    break;
            }
            return $('<div />')
                .css({'min-width': 50})
                .drawPart(parts)
                .addClass('diagram-part')
                .addClass('diagram-element')
                .addClass('diagram-element-' + parts.text())
                .attr('id', 'diagram-element-' + counter)
                .addClass('diagram-element-' + counter)
                .appendTo(container)
                .drawClause()
                .updateCounter(counter);
        }
        var diagramElementCounter = 0;
        var margin = 20;
        jQuery.fn.addWord = function(word)
        {
            var counter = diagramElementCounter + 1;
            var diagramWord = this.children('.diagram-word');
            if (diagramWord.length)
            {
                // TODO - turn v into vp, others?
                diagramWord.text(word.text())
                    .updateCounter(counter);
            }
            else
            {
                $('<div />')
                    .attr('id', 'diagram-element-' + counter)
                    .addClass('diagram-word')
                    .addClass('diagram-element')
                    .addClass('diagram-element-' + counter)
                    .text(word.text())
                    .css({'text-align': 'center', 'position': 'relative'})
                    .offset({left: 0, top: 0 - word.height()})
                    .width(word.width() + 20 * 2)
                    .appendTo(this)
                    .updateCounter(counter);
            }
            return this.drawClause();
        }
        function getEventTarget(event) {
            event = event || window.event;
            return event.target || event.srcElement;
        }

        $(document).ready(function() {
            var sentence = "Supercalifragalistic is simply quite atrocious.";
            var words = sentence.split(/[ ,]+/);
            words.forEach(function(word) {
                $('<span />').appendTo('#sentence')
                    .addClass('sentence-word')
                    .attr('id', word)
                    .text(word);
                $('<span />').appendTo('#sentence')
                    .addClass('sentence-space')
                    .text(" ");
            });
            $('#sentence .sentence-word')
            .draggable({
                 cancel: '.no-drag',
                 revert: true,
                 helper: 'clone',
                 opacity: 0.3
            })
            .click(function(event) {
                $('#sentence .sentence-word').removeClass('active');
                $(this).addClass('active');
            });

            var parts = [
                ['subject', 's'],
                ['verb', 'v'],
                ['direct object', 'do'],
                ['indirect object', 'io'],
                ['predicate nominative', 'pn'],
                ['predicate adjective', 'pa'],
                ['participle', 'part'],
                ['adjective', 'adj'],
                ['adverb', 'adv'],
                ['article', 'art'],
                ['possessive', 'pos'],
                ['preposition', 'prep'],
                //['prepositional-object', 'po'],
                ['conjunction', 'conj'],
                ['appositive', 'app'],
                ['infinitive phrase', 'ip'],
                ['gerund', 'ger'],
                ['expletive', 'exp'],
                ['noun phrase', 'np'] ];
            parts.forEach(function(part) {
                $('<button />').appendTo('#parts')
                    .attr('id', 'part-button-'+part[1])
                    .addClass('part-button')
                    .text(part[1]);
                $('<span />').appendTo('#parts')
                    .text(' ');
            });
            $('#parts button').click(function(event) {
                // TODO - allow conj to select another button
                $('#parts button').removeClass('active');
                $(this).addClass('active');
            })
            .draggable({
                 cancel: '.no-drag',
                 revert: true,
                 helper: 'clone',
                 opacity: 0.3
            });

            $('#diagram').click(function(event) {
                $(this).focus();
                var activeButtons = $('#parts .active');
                if (activeButtons.length)
                {
                    var target = $('#diagram .diagram-part-target').closestToOffset({left: event.originalEvent.pageX, top: event.originalEvent.pageY});
                    if (target)
                    {
                        console.log("#diagram click : " + target.attr('id') + " -> " + activeButtons.text());
                        target.addPart(activeButtons, event);
                    }
                    else
                    {
                        console.log("#diagram click : " + this.id + " -> " + activeButtons.text());
                        $(this).addPart(activeButtons), event;
                    }
                    activeButtons.removeClass('active');
                    return;
                }
                var activeText = $('#sentence .active');
                if (activeText.length)
                {
                    var target = $('#diagram .diagram-part-word-target').closestToOffset({left: event.originalEvent.pageX, top: event.originalEvent.pageY});
                    if (target)
                    {
                        console.log("#diagram click : " + target.attr('id') + " -> " + activeText.text());
                        target.addWord(activeText);
                        activeText.removeClass('active');
                        return;
                    }
                }
                var targetWord = $("#diagram .diagram-word").closestToOffset({left: event.originalEvent.pageX, top: event.originalEvent.pageY});
                if (targetWord)
                {
                    console.log("#diagram click : word=" + targetWord.text());
                    targetWord.addClass('active');
                }
            })
            .droppable({
                drop: function(event, ui) {
                    $(this).focus();
                    var draggable = $(ui.draggable);
                    if (draggable.hasClass('part-button'))
                    {
                        // TODO - conj selected and draggable is another part
                        var target = $('#diagram .diagram-part-target').closestToOffset({left: event.originalEvent.pageX, top: event.originalEvent.pageY}); 
                        if (target)
                        {
                            console.log("#diagram drop : " + target.attr('id') + " -> " + draggable.text());
                            target.addPart(draggable, event);
                        }
                        else
                        {
                            console.log("#diagram drop : " + this.id + " -> " + draggable.text());
                            $(this).addPart(draggable, event);
                        }
                        $(draggable).removeClass('active');
                        return;
                    }
                    if (draggable.hasClass('sentence-word'))
                    {
                        var target = $('#diagram .diagram-part-word-target').closestToOffset({left: event.originalEvent.pageX, top: event.originalEvent.pageY});
                        if (target)
                        {
                            console.log("#diagram drop : " + target.attr('id') + " -> " + draggable.text());
                            target.addWord($(draggable));
                            $(draggable).removeClass('active');
                        }
                        return;
                    }
                }
            })
            /*.keydown(function(event) {
                event.preventDefault();
                console.log("#diagram keydown : keyCode="+event.keyCode+", which="+event.which+", ctrlKey="+event.ctrlKey);
            })*/
            .keyup(function(event) {
                event.preventDefault();
                console.log("#diagram keyup : keyCode="+event.keyCode+", which="+event.which+", ctrlKey="+event.ctrlKey);
                switch (event.keyCode)
                {
                    case 46:
                        console.log("#diagram keyup: delete");
                        var selectedWord = $("#diagram .diagram-word.active");
                        if (selectedWord.length)
                        {
                            console.log("#diagram keyup: remove " + selectedWord.text());
                            selectedWord.remove();
                        }
                        break;
                    //case 17:
                    //    console.log("#diagram keyup: ctrl");
                    //    break;
                    case 90:
                        console.log("#diagram keyup: z");
                        if (event.ctrlKey)
                        {
                            console.log("#digram keyup: ctrl-z");
                            lastElement = $('.diagram-element-' + diagramElementCounter);
                            if (lastElement.length)
                            {
                                console.log("#diagram keyup: remove " + lastElement.attr('id'));
                                lastElement.remove();
                                --diagramElementCounter;
                            }
                        }
                        break;
                }
            });
        });
    </script>
}
