@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{ var welcomeMessage = "Welcome"; if(User.Identity.IsAuthenticated) { welcomeMessage += " " + User.Identity.Name; }}
    <h1 class="display-4">@welcomeMessage</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<link rel="stylesheet" href="~/css/diagram.css" />

<div id='diagram-container'>
    <div id='parts'>
    </div>
    <div id='sentence'>
    </div>
    <div id='diagram' class='diagram' tabindex='0'>
    </div>
</div>


@section scripts
{
    <script src="~/js/diagram.js" asp-append-version="true"></script>
}
