.part-button {
    border: 2px solid black;
    background-color: #52A7D3;
    color: #000000;
}
.part-button.active {
    border: 3px solid grey;
    background-color: grey;
    color: #FFF;
}
.sentence-word {
    /* default */
}
.sentence-word.active {
    background-color: grey;
}
.diagram {
    /* div */
    height: 1000px;
    width: 100%;
    border: 2px solid black;
    background-color: grey;
    overflow: hidden;
    position: relative;
}
/*.diagram-clause-table*/ 
.diagram-clause {
    /* table */
    height: 0;
    position: relative;
}
.gerund-phrase {
    height: 0;
    position: relative;
}
.diagram-part {
    /* td */
    position: relative;
    height: 0;
}
.diagram-part-diagonal {
    /* default */
}
.diagram-part-line {
    /* div */
    transform-origin: 0 0;
    height: 3px; /* Line width of 3 */
    width: 3px;
    background: #000; /* Black fill */
    position: absolute;
    margin: 0;
    border: 0;
}
.diagram-part-dashed-line {
    /* div */
    transform-origin: 0 0;
    height: 3px; /* Line width of 3 */
    width: 3px;
    background: repeating-linear-gradient(to right, black 0px, black 6px, transparent 6px, transparent 12px);
    position: absolute;
    margin: 0;
    border: 0;
}
.diagram-part-curved {
    position: absolute;
}
.diagram-word {
    position: relative;
}
.diagram-word.active {
    background-color: white;
}